/* ERROR */
.errorText {
  color: red;
  font-size: 288px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  line-height: 143%;
  font-weight: 700;
}

.errorText2 {
  color: red;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 150px;
}
.errorLinkHome {
  text-align: center;
  color: black;
}

.errorDiv {
  margin: auto;
  text-align: center;
  margin-bottom: 110px;
}
